{{define "head"}}
<meta charset="utf-8">
<title>Golang is awsome!</title>
{{end}}

{{define "body"}}
<div class="row">
    <div class="header col-md-12">
        <h1 class="page-header">This Is A Login Page</h1>
    </div>
    <div class="body col-md-4 col-sm-12">
        <form role="form" name="login_form">
            <div class="form-group">
                <label for="InputUsername">Username</label>
                <input type="text" class="form-control" id="InputUsername" name="username" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="InputPassword" name="password" placeholder="Enter Password">
            </div>
            <button type="submit" class="btn btn-default" id="btn_sign_in">Login</button>
            <a class="btn btn-default" href="/signup">Sign up</a>
        </form>
    </div>
</div>

{{end}}

