{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    {{template "head" .}}
  </head>
  <body>
  <div class="container">
    {{template "body" .}}
  </div>
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="/static/javascript/main.js"></script>
  </body>
</html>
{{end}}
